/* BASE styles */

html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/**,
*::before,
*::after {
  box-sizing: inherit;
}*/

img {
  max-width: 100%;
}
/*
.clearfix::after {
clear: both;
}*/



/*Mobile Styling*/

h2 {
  font-size: 2em;
  color: white;
}

.header {
  background: #33ffbb;
  text-align: center;
  padding: 1em;
}

li {
  padding: 2px;
}

.title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}

h1 {
  display: inline-block;
  font-size: 26px;
  border-bottom: 5px solid #c0392b;
  padding: 11px;
}

.cats-text {
  padding: 10px;
  background: #f8c471;

}

h3 {
  font-weight: bold;
}

p, h3 {
margin: 5%;
}

.products-text {
  padding: 15px;
  background: #f4f6f6;
}

.fun, .values, .meow {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #ec7063;
  width: 33.3333%;
  float: left;
  text-align: center;
  padding-bottom: 21px;

}

.bottom-text {
  color: white;
  padding: 15px;
  padding-top: 32px;
  background:  #1a5276;
}

footer {
  background: #33ffbb;
  text-align: right;
  padding: 1em;
}

@media ( min-width: 550px ) {

  section {
    max-width: 900px;
    margin: auto;
  }

  .header {
    background: #33ffbb;
    text-align: left;
    padding: 20px;
  }

  .headernav {
    position: relative;
    float: right;
    bottom: 23px;
  }

nav > ul > li {
  display: inline-block;
}

.title {
  background: #15395D;
  overflow: hidden;
  width: 100%;
  padding-bottom: 5px;
}

article > img {
  display: inline-block;
  width: 65%;
  float: left;
}

article > h1 {
  display: inline-block;
  color: white;
  font-size: 31px;
  width: 30%;
  float: right;
  padding-top: 23px;
}

h1 {
  border-bottom: 0;
}

.clear {
  clear: both;
}

.image {
  border: 3px solid black;
  width: 27%;
  display: inline-block;
  margin: 20px;

}

}
